@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');



:root {
  --text-md: 1rem;
  --text-md--line-height: calc(1.5 / 1);
}
html, body {
  overflow-x: hidden;
}

@theme {
  --radius-5xl: 3rem; 
  --radius-4xl: 2rem;
  --radius-3xl: 1.5rem;
}

@layer utilities {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
}
